
.note-container {
  border-left: 4px solid #06E1D0;
  padding-left: 10px;
  margin-left: 10px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.note-title {
  font-size: 30px;
  margin-bottom: 5px;
}

.note-content {
  font-size: 15px;
  margin-left: 20px;
}

.note-owner {
  font-size: 20px;
  margin-bottom: 5px;
}
