
body,html {
  margin: 0;
  padding: 0;
}

.from-you {
  float: right;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  max-width: 40%;
}

.from-them {
  float: left;
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  max-width: 40%;
}



.message-container {
  float: left;
  text-align: left;
}

.message {
  border-radius: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.speech-bubble-you {
	position: relative;
	background: #06E1D0;
  border-radius: .4em;
  margin-right: 10px;
  margin-bottom: 10px;
  padding-top: 5px;
  padding: 5px;
}

.speech-bubble-them {
	position: relative;
	background: #d3d3d3;
  border-radius: .4em;
  margin-left: 10px;
  margin-bottom: 10px;
  padding-top: 5px;
  padding: 5px;
}

.messages-content {
  display: flex;
  flex-direction: row;
}

.message-page {
  grid-template-columns: .25fr 1.5fr 4fr .25fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  position: absolute;
  top: 75px;
  height: calc(100vh - 90px);
  display: grid;
  width: calc(100vw - 20px);
}
  
.conversation-field {
  border-top: 1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;
  grid-area: 1 / 2 / 2 / 3;
  border-left: 1px solid #c4c4c4;
  overflow-y: scroll;
  height: inherit;
}

.message-field {
  grid-area: 1 / 3 / 2 / 4;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40px 1fr 50px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: inherit;
  border: 1px solid #c4c4c4; 
}

.message-field-header { 
  grid-area: 1 / 1 / 2 / 2;
  text-align: center;
  border-bottom: solid 1px #ccc;
}

.message-box {
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  overflow: auto;
  grid-area: 2 / 1 / 3 / 2;
  border-bottom: solid 1px #ccc;
  padding-top: 10px;
  width: 100%;
}

.message-field-input {
  grid-area: 3 / 1 / 4 / 2;
}


.chat_ib h5{ font-size:15px; color:#464646; margin:0 0 8px 0;}
.chat_ib h5 span{ font-size:13px; float:right;}
.chat_ib p{ 
  font-size:14px;
  color:#989898;
  margin: auto;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
  float: left;
  width: 90%;
}

.chat_img {
  float: left;
  width: 11%;
}
.chat_ib {
  float: left;
  padding: 0 0 0 15px;
  overflow: hidden;
  background-color: transparent;
  border: none;
  text-align: left;
  width: calc(100% - 15px);
}

.chat_ib:active {
  background-color: #ebebeb;
  border: none;
}

.chat_ib:focus {
  outline: 0;
}

.active, .single-conversation:hover {
  background-color: #ebebeb;
}

.chat_ib:target {
  background-color: #ebebeb;
  border: none;
}

.chat_people {
  overflow:hidden;
  clear:both;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.single-conversation {
  border-top: 1px solid #c4c4c4;
  margin: 0;
  padding: 18px 5px 16px 10px;
  display: flex;
  flex-direction: row;
}

.message-input {
  padding: 5px;
  font-size: 16px;
  height: 35px;
  width: 80%;
  overflow-x: hidden;
  overflow-y: auto;
  resize: none;
  border-width: 1px;
  border-color: #CCCCCC;
  background-color: #FFFFFF;
  color: #000000;
  border-style: solid;
  border-radius: 9px;
  box-shadow: 0px 0px 0px rgba(66,66,66,.75);
  text-shadow: 0px 0px 0px rgba(66,66,66,.75);
}
.message-input:focus {
  outline: none;
  background-color: #DDDDDD;
}

.button-blue {
  position: relative;
  display: block;
  margin-left: 10px;
  width: 75px;
  height: 35px;
  border-radius: 12px;
  background-color: #1c89ff;
  border: solid 1px transparent;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
  transition: all .1s ease-in-out;
}
.button-blue:hover {
  background-color: transparent;
  color: #696969;
  border-color: #696969;
  transition: all .1s ease-in-out;
}
.button-blue:focus {
  outline: 0;
}

.no-message-selected {
  vertical-align: middle;
  line-height: 85vh;
  color: #696969;
  text-align: center;
}

.suggestion-field {
  position: absolute;
  margin-top: 2px;
  z-index: 1;
  background-color: #fff;
  justify-items: stretch;
  border-top: 1px solid #c4c4c4;
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}
button.suggestions {
  padding-left: 10px;
  border: 1px solid #c4c4c4;
  border-top: none;
  margin-bottom: 0px!important;
  padding-bottom: 5px;
  color: black;
  outline: none;
  text-align: left;
}

.search-field {
  outline:none;
  border: none;
  padding: 5px;
  margin-top: 3px;
  justify-items: stretch;
}

.conversation-search {
  height: 39px;
}

.single-conversation-first-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.timestamp-text {
  font-size: .75em;
  color: #696969;
}